<h1>Search Schedule</h1>

<p class='intro'>
  input name, and edit or create schedule
</p>

<form style="float: left;" action="<%= u "/edit-schedule" %>" method="post">
  <input type="text" name="id">
  <input type="submit" value="Edit or Create">
</form>
